body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookShelf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 30px;
}

#bookInput {
    display: flex;
    flex-direction: column;
}

#formDisplay {
    display: none;
    justify-content: center;
    flex-direction: row;
}

#readContainer {
    display: flex;
    align-items: center;
}

.book {
    display: flex;
    background-image: url("dT76698rc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 350px;
}

.bookTitle {
    color: red;
}

.textCard {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    max-width: 185px;
}